/*
 Theme Name:   Boss Child Theme
 Theme URI:    https://github.com/steelbridge-io/boss-parent
 Description:  Boss Child Theme. A theme that goes with the Boss Parent.
 Author:       Chris Parsons
 Author URI:   http://parsonshosting.com
 Template:     boss-parent
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bosschild
*/